* {
    white-space: pre-wrap;
    font-family: monospace;
    color: rgb(46, 254, 17);
    background-color: black;
}

body {
    margin: 0 auto;
    width: 100%;
}

div {
    margin: 0 auto;
    max-width: 75%;
}

button {
    width: 100%;
    outline: none;
}

h1 {
    text-align: center;
}
